* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.pai {
    width: 50%;
    height: 500px;
    background-color: red;
}

.filho {
    width: 50%;
    height: 50%;
    background-color: green;
}


/* exemplo antigo
div {
    font-size: 20px;
}

h1 {
    font-size: 2em;
    color: red;
} */

/* Unidades de medida:
px: valor absoluto
rem: valor relativo ao elemento raiz
em: valor relativo ao elemento pai
%: valor relativo ao elemento pai */