* {
    margin: 0;
}

body {
    height: 200vh;
    width: 200vw;
}

/* site para código das cores */

.minhadiv {
    width: 100px;
    height: 100px;
    background-color: green; /*1º tipo nomeando a cor */
}

.minhadiv2 {
    width: 100px;
    height: 100px;
    background-color: #ff0000; /* 2º tipo usando hexadecimal */
}

.minhadiv3{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 255); /* 3º tipo usando rgb */
}

.minhadiv4 {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.5); /* 4º tipo usando rgba onde o a é a transparência da cor variando entre 0 e 1 */
}